@import "tailwindcss";

body {
  transition: background-color 0.3s ease, color 0.3s ease;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* 1. 기본값 (라이트 모드) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* 2. 다크 모드 (html 태그에 class="dark"가 붙었을 때) */
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}